<%- include('../includes/head.ejs') %>
    <link rel="stylesheet" type="text/css" href="/prove03/css/product.css">
    <!--<link rel="stylesheet" type="text/css" href="/prove03/main.css">-->

    
</head>
<body>
    <%- include('../includes/nav.ejs') %>
    <main>
        <h1 class = "centered welcome">Choose from our selection</h1>
        <% if (prods.length > 0 ) { %>
        <div class="grid-scroll">
            <% for (let product of prods) { %>
                <article class="card product-item product-item-scroll">
                    <header class="card__header">
                        <h2 class="product__title"><%= product.title %></h2>
                    </header>
                    <div class="card__image">
                        <img src="<%= product.imageUrl %>"
                        alt="<%= product.title %>">
                    </div>
                    <div class="card__content">
                        <h3 class="product__price">$<%= product.price %></h3>
                        <p class="product__description"><%= product.description %></p>
                    </div>
                    <div class="card__actions">
                        <a href="/proveAssignments/prove05/products/<%= product._id %>" class="btn">Details</a><!--check path-->
                        <% if (isAuthenticated ) { %>
                            <%- include('../includes/add-to-cart.ejs', {product: product}) %>
                        <% } %>
                    </div>
                   
                </article>
                    
            <% } %>
        </div> 
        <% } else { %>
            <h2>No Products Found</h2>
            <% } %>
    </main>
    
<%- include('../includes/end.ejs') %>